{
	"plugins": ["prettier-plugin-tailwindcss"],
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 4,
	"arrowParens": "avoid",
	"bracketSpacing": true
}
